
a {
  cursor: pointer;
}

body {
  font-family: 'Nunito';
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 12%;
  margin-bottom: 100px;
}

h1 {
  font-size: 40pt;
  margin-bottom: 10px;
  color: #06063c;
}

.intro-text {
  display: flex;
  flex-direction: column;
  padding-right: 50%;
  font-family: Nunito, sans-serif;
  font-size:20px;
  font-color: '#3C3F42';
  font-weight: 200;

}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 12%;
}

#legend text {
  font-size: 0.9em;
  color: #333;
  font-weight: 400;
}

.tooltip {
  position: absolute;
  padding: 7px;
  font-size: 0.9em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.tooltip table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.small-flex-child {
  flex: 0 0 25%;     
      } 


.big-flex-child  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
      }

.right-flex-box {
    flex: 0 0 20%;
    flex-direction: column;
}  

.top-legend-box {
  position: relative;
	display: flex;
  flex-direction: row;
}


.drop-down {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  font-size: 18px;
  margin-left:110px;
}

.select-text {
  width: 100px;
  position: absolute;
  bottom: 0;
  margin-left:390px;
  font-size: 14px;
}

.slider_box {
	display: flex;
	flex-direction: column;
}

.slider-text {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.year {
  margin-left: 130px;
}

.subheading {
	display: flex;
	flex-direction: row;
  font-size: 22px;
}

.slider {
  margin-left:10px;
	display: flex;
	flex-direction: row;
}

#small-map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;    
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 10%;
}

#line-chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-right: 10%;
}

.ratio_explanation {
  font-family: Nunito, sans-serif;
  font-size:20px;
  font-color: '#3C3F42';
  justify-content: right;
  align-items: flex-end;
  width: 40%;
  padding: 10px;
  border: 1px solid grey;
}

.ratio_image {
  width: 250px;
}

#regions {
  fill: #D1D4D6;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 12%;
  margin-bottom: 30px;
  font-family:'Nunito';
}
